body {
    background-color: black;
    margin: 0;
}

.container {
    margin: 0 auto;
}

/* NAVIGATION */
nav{
    position: fixed;
    padding-top: 4.5px;
    margin-bottom: 4.5px;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    color: seashell;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    height: 50px;
    margin-left: 10px;
    display: flex;
}

nav ul li {
    font-family: Helvetica;
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: underline;
    list-style: none;
    display: inline;
}
