*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: center;
}
/***NavBar***/

nav {
    position: fixed;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    color: seashell;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

nav img {
    height: 50px;
    display: flex;
    margin-left: 10px;
}

nav ul {
    margin-right: 10px;
}

nav ul li {
    font-family: Helvetica;
    font-size: 22px;
    padding-left: 18px;
    text-transform: capitalize;
    text-decoration: underline;
    list-style: none;
    display: inline;
}

/***Hero section***/

#heroSection {
    display: flex;
    justify-content: center;
}

#heroSectionImg{
    width: 1200px;
    height: 700px;
}

#heroSectionText{
    position: absolute;
    top: 350px;
    width: 1200px;
    height: 90px;
    padding-top: 20px;
    color: seashell;
    background-color: rgb(17, 17, 17);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    object-fit:inherit;
}
#heroSectionText h2{
    font-size: 34px;
    text-transform: capitalize;
}
#heroSectionText h4{
    line-height: 40px;
    font-size: 18px;
    text-transform: capitalize;
}

/****TeaMonth***/

#teaMonth{
    width: 1000px;
    margin-top: 40px;
    display: flex;
    justify-content: center; 
}

#teaMonthTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    font-size: 23px;
}

#teaMonthTitle h2{
    margin-bottom: 10px;
}

#teaMonthTitle p {
    font-weight: 600;
}
/****TeaMonth Img***/

#teaImg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px
}

#teaImg figure img {
    height: 200px;
    width: 300px;
}

#teaImg figure {
    margin-right: 20px;
    margin-left: 10px;
} 

figcaption {
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 27px;
}